body { 
    font-family: sans-serif;
    font-size: 18px;
    background-color: #DCD0C0;
    top:30px;
    position: relative;
    margin-left: 0%;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

header {
    width : 100%;

}
article,section {
    width : 90%;
    margin-left: 5%;
}

ul#contact li {

    margin-left: 2%;
    width: auto;
    padding:10px 15px 9px 15px !important;
    display:inline;
    color: #F4F4F4;

}

header ul#navi {
    margin: 0;
    top: 0%;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: #373737;
}

header ul#navi li {
    margin-left: 5%;
    float:left;
    background-color: #373737;
    padding:10px 15px 9px 15px !important;
    display:inline-block;
    color: #F4F4F4;
    border-bottom: 6px solid #373737;
}


header ul#navi li#about,#closeEmail {
    float:right;
    margin-right: 5%;
}

header ul#navi li:hover {
    color: #C0B283;
    border-bottom: 6px solid #C0B283;
    cursor:pointer;
}

footer {
    width: 100%;
    
}

footer ul {
    margin-left: 10%;
    cursor: pointer;
}

footer ul li {
    margin-left: 10%;
    margin-right: 10%;
    display: inline;
    list-style: none;
    
}

footer ul li:hover{
    cursor: pointer;
    
    
}

link:hover,link:visited,li,a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}



.mail {
    border-radius: 15px;
    display: none;
    z-index: 2; 

    width:90%;
    height:90%;
    overflow: auto;
    background-color: #F4F4F4;
    opacity: 0.95;
    max-height: 450px ;
    max-width: 340px ;
    margin: auto;  
    position:fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
}

.mailContent {
    margin-left: 5%;
    width:90%;
    height:90%;
    position: relative;
    background-color: #F4F4F4;
}

#mailFrame textarea {
    resize: none;
    height: 150px;
    display: block;
    width:inherit;
}

#mailFrame label {
    display: block;
}

#mailFrame input, #mailFrame select, #mailFrame textarea, #mailFrame label {
    font-size:15px;
    margin-bottom:10px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


