* {
    box-sizing: border-box;    
}
/* NAVBAR */

.navbar-header {
    padding-top: 25px;
}

.navbar-brand h1 {

    font-size:1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
} 

#nav-container, #menu-content, .navbar-header {
    display: block;
    
}

#nav-list {
    margin-top: 10px;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#nav-list a span {

    font-size: 1.8em;

}

/* NAVBAR END */
body {
    font-family: "Times New Roman", Georgia, Serif;
}

body > section {
    float:left;
}

div {
    display: inline-block;
}

p { 
    margin: 10px 8px 10px 8px;
    float:left;
    height: 1000px;
}

section > div {
    border : 1px solid black;
    margin : 10px auto 10px auto;
    background-color: antiquewhite;
    

}




